body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}
.root {
    --battleship-grey: #888787ff;
    --white: #ffffffff;
    --vermilion: #da291cff;
    --midnight-blue: #0c1466ff;
    background-color: var(--white);
    color: var(--midnight-blue);
}

.alert {
    background-color: var(--vermilion);
    margin: 50px;
}

form {
    background-color: var(--midnight-blue);
    color: var(--white);
    width: 30%;
    height: 250px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

.log-in, .log-out, .register {
  background-color: var(--vermilion);
  border-radius: 4px;
  color: var(--white);
  font-weight: 800;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: var(--white);
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid var(--battleship-grey); 
    cursor: pointer;
}


.shortener.container{
    display: flex;
    align-content: center;
    width: 40%;
    
}

/* Globals */
.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
}
.image-title {
    font-size: calc(10px + 2vmin);
    font-weight: 600;
}
.image-box {
    width: 50vw;
    min-width: 400px;
    min-height: 200px;
    max-width: 600px;

}
a {
    color: inherit; 
    text-decoration: inherit; 
}
/* for an image use this.. */
/* .image {
    background-image: url('/images/.imageName.jpg');
} */


/* Benefits Styling */
.benefits.container {
    min-height: 600px;
    /* display: flex;
    flex-direction: column;
    width: 100vw;
    border: 2px solid black;
    justify-content: space-between;
    align-items: center; */
}
.benefits.image-title {
  /* margin: .2em;  
  font-size: calc(10px + 2vmin);
  font-weight: 400;
  letter-spacing: .1em; */

}
.benefits.image-box {
    /* margin: .2em;
    padding: .2em;
    border: 2px solid pink;
    width: 50vw;
    min-width: 400px;
    min-height: 200px;
    max-width: 600px; */

}
.image-1 {
    background-image: url('/images/birdGang.jpg');
    background-position: center;
    background-size: cover;
}
.image-2 {
    background-image: url('/images/birdGang.jpg');
    background-position: center;
    background-size: cover;
}
.image-3 {
    background-image: url('/images/birdGang.jpg');
    background-position: center;
    background-size: cover;
}
/* Support Styling 1.1 */
.support.container {
    display: flex;
    flex-direction: column;
    min-height: 400px;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
}
.support.image-title {
  /* margin: .2em;  
  font-size: calc(10px + 2vmin);
  font-weight: 400;
  letter-spacing: .1em; */

}
.support.image-box {
    width: 50vw;
    min-width: 400px;
    min-height: 200px;
    max-width: 600px;

}
.support.description {
    max-width: 400px;
    color: var(--battleship-grey);
    font-weight: 100;
}
.link-to-main.container {
 
    height: 200px;
}
.text-field {
    margin: inherit;
    color: var(--battleship-grey);
    background-color: var(--white);
}

