body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}

.alert {
    background-color: #ff4545;
    margin: 50px;
}

form {
    background-color: #dbd5d5;
    width: 30%;
    height: 250px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

.log-in, .log-out, .register {
  background-color: #00acb0;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: #008183;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
}

/* Globals */
.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
}
.image-title {
    font-size: calc(10px + 2vmin);
    font-weight: 400;
    letter-spacing: .1em;
}
.image-box {
    border: 2px solid black;
    width: 50vw;
    min-width: 400px;
    min-height: 200px;
    max-width: 600px;

}
a {
    color: inherit; 
    text-decoration: inherit; 
}
/* for an image use this.. */
/* .image {
    background-image: url('/images/.imageName.jpg');
} */


/* Benefits Styling */
.benefits.container {
    min-height: 600px;
    /* display: flex;
    flex-direction: column;
    width: 100vw;
    border: 2px solid black;
    justify-content: space-between;
    align-items: center; */
}
.benefits.image-title {
  /* margin: .2em;  
  font-size: calc(10px + 2vmin);
  font-weight: 400;
  letter-spacing: .1em; */

}
.benefits.image-box {
    /* margin: .2em;
    padding: .2em;
    border: 2px solid pink;
    width: 50vw;
    min-width: 400px;
    min-height: 200px;
    max-width: 600px; */

}
.image-1 {
    background-image: url('https://i.picsum.photos/id/314/536/354.jpg?hmac=uQME2VgtwoULPclwqxIs5OqNE84y_4z4uIGmMgynbLU');
    background-position: center;
    background-size: cover;
}
.image-2 {
    background-image: url('/images/birdGang.jpg');
    background-position: center;
    background-size: cover;
}
/* Support Styling 1.1 */
.support.container {
    display: flex;
    flex-direction: column;
    min-height: 400px;
    width: 100vw;
    border: 2px solid black;
    justify-content: space-around;
    align-items: center;
}
.support.image-title {
  /* margin: .2em;  
  font-size: calc(10px + 2vmin);
  font-weight: 400;
  letter-spacing: .1em; */

}
.support.image-box {
    border: 2px solid pink;
    width: 50vw;
    min-width: 400px;
    min-height: 200px;
    max-width: 600px;

}
.support.description {
    max-width: 400px;
}
