.feedback {
    margin: 10%;
    width: 300px;
}

.carousel .slide {
    background: var(--vermilion);
    color: white;
}

.feedback p {
    padding: 0 0 20px 0;
}

.carousel-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.image-box {
    /* width: 50vw;
    min-width: 400px; */
    /* min-height: 200px; */
    height: 3vh;
    /* max-width: 600px; */
    

}
.image-jump {
    background-image: url('/images/jump.png');
    background-size: contain;
    
}