.feedback {
    background-color: white;
    margin: 10%;
    width: 200px;
    height: 300px;
}

/* .feedback {
    margin: 10%;
    width: 200px;
    height: 600px;
} */

.feedback.img {
    background-size: contain;
    background-repeat: no-repeat;
}

.image-one {
    background-image: url('/images/parakeetCooking.jpg');
}
