.root {
  --battleship-grey: #888787ff;
  --white: #ffffffff;
  --vermilion: #da291cff;
  --midnight-blue: #0c1466ff;
  background-color: var(--white);
  color: var(--midnight-blue);
}

.nav-title {
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    color: var(--vermilion);
    padding-left: 10px;
}

.nav {
  overflow: hidden;
  background-color: var(--white);
}

.nav-link {
  float: left;
  color: var(--midnight-blue);
  background-color: var(--white);
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
}

.nav-link:hover {
  color: var(--vermilion);
}

.nav-right {
  float: right;
}